<header class="px-4 pt-5 sm:px-0">
      <!-- Navbar -->
      <nav class="container header rounded-[20px] px-6 sm:px-16 flex flex-col gap-0 justify-center items-center relative w-full  max-w-[1400px] h-[72px] bg-black z-10 mb-6">
        <div class="w-full">
          <div class="flex justify-between items-center h-16">
            <!-- Logo -->
            <div class="flex gap-0 items-center relative w-[130px] h-10">
              <svg width="130" height="40" viewBox="0 0 130 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.8786 16.0563C25.8009 18.6415 24.0082 20.2016 21.5575 20.2016C19.4256 20.2016 17.6093 18.9516 15.9445 17.9886C14.1045 17.0333 12.2014 16.1183 9.61654 16.1183C4.64731 16.1183 0.943664 19.6294 0 25.814L3.53164 26.9973C4.60944 24.4632 6.34054 22.9031 8.79123 22.9031C10.9847 22.9031 12.7395 24.1531 14.4043 25.1161C16.2206 26.0714 18.5182 26.9864 20.98 26.9864C25.7866 26.9864 29.443 23.3746 30.4103 17.2411L26.8771 16.0578L26.8786 16.0563Z" fill="#EFEADE" />
                <path d="M124.83 28.2302C124.83 26.746 125.993 25.6465 127.415 25.6465C128.839 25.6465 130 26.746 130 28.2302C130 29.7251 128.837 30.8138 127.415 30.8138C125.992 30.8138 124.83 29.7251 124.83 28.2302ZM129.557 28.2302C129.557 26.96 128.655 26.0203 127.417 26.0203C126.178 26.0203 125.277 26.96 125.277 28.2302C125.277 29.5111 126.178 30.4401 127.417 30.4401C128.655 30.4401 129.557 29.5111 129.557 28.2302ZM126.405 26.8329H127.687C128.198 26.8329 128.567 27.1539 128.567 27.6021C128.567 27.9122 128.405 28.1681 128.046 28.2534V28.2643C128.318 28.3387 128.449 28.4891 128.48 28.8195C128.524 29.2041 128.502 29.4925 128.6 29.5344V29.567H128.068C127.993 29.5344 127.96 29.2258 127.949 28.9373C127.937 28.6489 127.764 28.4674 127.417 28.4674H126.961V29.567H126.407V26.8344L126.405 26.8329ZM126.961 28.0487H127.57C127.874 28.0487 128.026 27.889 128.026 27.6641C128.026 27.4392 127.874 27.2795 127.57 27.2795H126.961V28.0487Z" fill="#EFEADE" />
                <path d="M36.978 37V19.9023V10.1834H42.1587V16.078L42.801 16.1168C43.0866 14.6854 43.5505 13.4881 44.1928 12.5251C44.8351 11.562 45.6619 10.8409 46.6766 10.3586C47.6897 9.87785 48.8811 9.63593 50.2524 9.63593C52.1634 9.63593 53.8125 10.0717 55.198 10.9433C56.5819 11.8148 57.6392 13.057 58.3667 14.6714C59.0942 16.2858 59.4587 18.2243 59.4587 20.487C59.4587 22.6472 59.1163 24.533 58.4314 26.1474C57.7465 27.7618 56.7397 29.0102 55.4126 29.8942C54.0855 30.7781 52.4506 31.2217 50.5097 31.2217C49.1099 31.2217 47.9201 30.9673 46.9354 30.4602C45.9507 29.9531 45.1301 29.2242 44.4737 28.2736C43.8172 27.3245 43.3028 26.1846 42.9319 24.8587H42.2471C42.3891 25.6139 42.5311 26.3676 42.6747 27.1229C42.8168 27.8781 42.9319 28.6194 43.0172 29.3483C43.1024 30.0772 43.145 30.7657 43.145 31.4171V36.9984H36.9796L36.978 37ZM48.3667 26.6545C49.3656 26.6545 50.2146 26.394 50.9136 25.8745C51.6127 25.3534 52.1477 24.6323 52.5185 23.708C52.8893 22.7853 53.0755 21.7369 53.0755 20.566C53.0755 19.2913 52.883 18.1918 52.498 17.2675C52.1129 16.3447 51.5559 15.6221 50.8284 15.101C50.101 14.5799 49.2504 14.3209 48.2815 14.3209C47.4246 14.3209 46.6766 14.4962 46.0344 14.8482C45.3921 15.2002 44.8571 15.6624 44.4295 16.2346C44.0019 16.8069 43.6736 17.4381 43.4448 18.1282C43.216 18.8183 43.1024 19.5146 43.1024 20.2171V20.8421C43.1024 21.4143 43.1813 21.9742 43.3375 22.5201C43.4937 23.066 43.7225 23.587 44.0224 24.0817C44.3222 24.5764 44.6867 25.0184 45.1144 25.4092C45.542 25.8 46.028 26.1055 46.5693 26.3273C47.1106 26.5491 47.7102 26.6592 48.3683 26.6592L48.3667 26.6545Z" fill="#EFEADE" />
                <path d="M67.161 31.2217C65.9617 31.2217 64.8713 31.0077 63.885 30.5781C62.9003 30.1485 62.1223 29.5111 61.5527 28.6659C60.9814 27.8207 60.6958 26.7476 60.6958 25.4449C60.6958 24.3004 60.9372 23.3435 61.4233 22.5759C61.9077 21.8082 62.6068 21.1848 63.5221 20.7025C64.4357 20.2218 65.5262 19.8372 66.7981 19.5503C68.0668 19.2649 69.4744 19.0044 71.0146 18.7702C72.0987 18.6136 72.9555 18.4709 73.5836 18.3406C74.2117 18.2104 74.6677 18.0227 74.9533 17.7746C75.2374 17.528 75.381 17.1574 75.381 16.6626C75.381 15.8826 75.0812 15.2375 74.4815 14.7303C73.8818 14.2232 72.9682 13.9689 71.742 13.9689C70.972 13.9689 70.2366 14.0992 69.5375 14.3597C68.8385 14.6202 68.2467 15.0172 67.7607 15.5507C67.2746 16.0842 66.9606 16.7805 66.8186 17.6397L61.3381 16.43C61.5953 15.2328 62.0371 14.2046 62.6652 13.347C63.2932 12.4879 64.0712 11.7853 64.9991 11.2395C65.9254 10.6936 66.9827 10.2904 68.1678 10.0298C69.3513 9.76929 70.6011 9.63902 71.914 9.63902C74.0838 9.63902 75.867 9.9709 77.2652 10.6346C78.6633 11.2984 79.7064 12.3064 80.3912 13.6603C81.0761 15.0141 81.4185 16.7185 81.4185 18.7733V22.3262C81.4185 23.2381 81.4327 24.1608 81.4611 25.0975C81.4895 26.0342 81.5322 26.9709 81.589 27.9076C81.6458 28.8443 81.7168 29.7686 81.8036 30.6789H76.3657C76.2805 29.9252 76.2016 29.1048 76.1305 28.2193C76.0595 27.3353 76.009 26.4235 75.9806 25.4868H75.3384C75.0243 26.5537 74.4957 27.523 73.754 28.3945C73.0108 29.2661 72.0845 29.9562 70.972 30.4633C69.8579 30.9704 68.5891 31.2248 67.161 31.2248V31.2217ZM69.73 27.1229C70.3013 27.1229 70.871 27.0314 71.4422 26.8499C72.0135 26.6685 72.5626 26.3955 73.0897 26.0296C73.6183 25.6651 74.0965 25.203 74.5241 24.6431C74.9518 24.0833 75.2658 23.4273 75.4662 22.672L75.4236 20.0574L76.4083 20.1349C75.9806 20.473 75.4378 20.7397 74.7813 20.9351C74.1249 21.1305 73.4337 21.2872 72.7046 21.4035C71.9772 21.5198 71.256 21.6377 70.5427 21.7555C69.8279 21.8734 69.1793 22.0362 68.5939 22.244C68.0084 22.4534 67.546 22.7387 67.202 23.1032C66.8596 23.4676 66.6892 23.9623 66.6892 24.5857C66.6892 25.3922 66.9732 26.0171 67.546 26.4591C68.1157 26.9027 68.8448 27.1229 69.73 27.1229Z" fill="#EFEADE" />
                <path d="M93.3203 31.1441C90.7796 31.1441 88.9175 30.5393 87.734 29.3281C86.5489 28.1185 85.9571 26.2125 85.9571 23.6103V14.5939H82.8752L82.9605 10.4175H84.7152C85.7709 10.3664 86.541 10.1508 87.0271 9.77394C87.5115 9.3971 87.8113 8.76591 87.9265 7.8804L88.3542 5.57745H91.9079V10.1834H97.4736V14.7505H91.9079V23.3389C91.9079 24.2756 92.1494 24.9595 92.6354 25.3875C93.1198 25.8171 93.8347 26.0311 94.7768 26.0311C95.2912 26.0311 95.7962 25.9799 96.2964 25.8745C96.7951 25.7706 97.2306 25.6015 97.6015 25.3674V30.5207C96.7446 30.7812 95.954 30.9503 95.2249 31.0278C94.4975 31.1054 93.8615 31.1457 93.3203 31.1457V31.1441Z" fill="#EFEADE" />
                <path d="M100.17 30.6758V18.4585V3H106.336V9.04972C106.336 9.57079 106.314 10.1616 106.271 10.8254C106.228 11.4891 106.156 12.1653 106.056 12.8554C105.955 13.5455 105.85 14.2418 105.736 14.9444C105.621 15.6469 105.507 16.3106 105.394 16.9356H106.208C106.55 15.3491 107.035 14.0154 107.664 12.9345C108.291 11.8551 109.113 11.0348 110.126 10.4749C111.139 9.91507 112.388 9.63592 113.872 9.63592C116.47 9.63592 118.395 10.4625 119.653 12.1141C120.909 13.7673 121.537 16.2843 121.537 19.6666V30.6742H115.372V20.3691C115.372 18.3391 115.051 16.8363 114.409 15.8609C113.767 14.8854 112.774 14.3969 111.433 14.3969C110.347 14.3969 109.435 14.7086 108.693 15.3336C107.95 15.9586 107.38 16.8425 106.981 17.9886C106.58 19.1346 106.367 20.4745 106.339 22.0098V30.6758H100.174H100.17Z" fill="#EFEADE" />
              </svg>
            </div>

            <!-- Links -->
            <div class="links md:flex gap-x-8 text-[#ffffff] items-center">
              {%- for link in section.settings.menu.links -%}
                {%- if link.links != blank -%}
              <!-- Dropdown -->
              <div class="relative dropdown-menu group m-0 nav-item">
                <button class="flex items-center uppercase font-light space-x-1 text-white focus:outline-none">
                      <span>{{ link.title }}</span>
                  <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
                </button>
                <!-- Dropdown Menu -->
                <div class="absolute left-0 mt-2 w-[250px] gap-6  pt-4 pb-4 bg-white border rounded-b-[20px] shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200">
                      {%- for child_link in link.links -%}
                        <a href="{{ child_link.url }}" class="flex items-center gap-3 px-4 py-2 text-gray-700 hover:bg-gray-100">
                          {%- capture icon_snippet_name -%}icon-{{ child_link.title | handleize }}{%- endcapture -%}
                           {% if icon_snippet_name %}
                             {% include icon_snippet_name %}
                           {%endif%}
                          {{ child_link.title }}
                        </a>
                      {%- endfor -%}
                </div>
              </div>
                {%- else -%}
                  <a href="{{ link.url }}" class="text-white {% if link.handle != 'faqs' %}uppercase {% endif %}font-light nav-item">{{ link.title }}</a>
                {%- endif -%}
              {%- endfor -%}

              <div class="flex gap-x-5 nav-item">
                <a href="#" class="text-white">
                  <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" y="0.5" width="41" height="41" rx="20.5" fill="#0C0C0C" />
                    <rect x="0.5" y="0.5" width="41" height="41" rx="20.5" stroke="white" />
                    <g clip-path="url(#clip0_1_220)">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M30.0277 28.6389V27.9445C30.0277 25.2598 27.8513 23.0834 25.1666 23.0834C22.6215 23.0834 19.3784 23.0834 16.8333 23.0834C14.1486 23.0834 11.9722 25.2598 11.9722 27.9445V28.6389C11.9722 29.1917 12.1916 29.7216 12.5826 30.1119C12.9729 30.5028 13.5027 30.7223 14.0555 30.7223H27.9444C28.4972 30.7223 29.027 30.5028 29.4173 30.1119C29.8083 29.7216 30.0277 29.1917 30.0277 28.6389ZM28.6388 27.9445V28.6389C28.6388 28.823 28.5659 29.0001 28.4354 29.1299C28.3055 29.2605 28.1284 29.3334 27.9444 29.3334H14.0555C13.8715 29.3334 13.6944 29.2605 13.5645 29.1299C13.434 29.0001 13.3611 28.823 13.3611 28.6389V27.9445C13.3611 26.0271 14.9159 24.4723 16.8333 24.4723H25.1666C27.084 24.4723 28.6388 26.0271 28.6388 27.9445ZM20.9999 11.2778C18.1256 11.2778 15.7916 13.6119 15.7916 16.4862C15.7916 19.3605 18.1256 21.6945 20.9999 21.6945C23.8743 21.6945 26.2083 19.3605 26.2083 16.4862C26.2083 13.6119 23.8743 11.2778 20.9999 11.2778ZM20.9999 12.6667C23.1083 12.6667 24.8194 14.3778 24.8194 16.4862C24.8194 18.5945 23.1083 20.3056 20.9999 20.3056C18.8916 20.3056 17.1805 18.5945 17.1805 16.4862C17.1805 14.3778 18.8916 12.6667 20.9999 12.6667Z" fill="white" />
                    </g>
                    <defs>
                      <clipPath id="clip0_1_220">
                        <rect width="20" height="20" fill="white" transform="translate(11 11)" />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
                <div class="relative">
                  <!-- Circle Button -->
                  <button class="w-10 h-10 rounded-full bg-[#008CFF] flex items-center justify-center text-white">
                    <!-- Example icon or letter -->
                    <span class="text-sm text-[#000000]">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1_227)">
                          <path d="M7.90904 19.2747C6.81092 19.2747 5.91748 18.3812 5.91748 17.2831C5.91748 16.185 6.81092 15.2919 7.90904 15.2919C9.00717 15.2919 9.90061 16.185 9.90061 17.2831C9.90061 18.3812 9.00717 19.2747 7.90904 19.2747ZM7.90904 16.5419C7.50029 16.5419 7.16748 16.8744 7.16748 17.2831C7.16748 17.6922 7.49998 18.0247 7.90904 18.0247C8.31811 18.0247 8.65061 17.6922 8.65061 17.2831C8.65061 16.8744 8.31811 16.5419 7.90904 16.5419Z" fill="white" />
                          <path d="M14.8321 19.2747C13.7339 19.2747 12.8408 18.3812 12.8408 17.2831C12.8408 16.185 13.7339 15.2919 14.8321 15.2919C15.9302 15.2919 16.8236 16.185 16.8236 17.2831C16.8236 18.3812 15.9299 19.2747 14.8321 19.2747ZM14.8321 16.5419C14.4233 16.5419 14.0908 16.8744 14.0908 17.2831C14.0908 17.6922 14.4233 18.0247 14.8321 18.0247C15.2411 18.0247 15.5736 17.6922 15.5736 17.2831C15.5736 16.8744 15.2408 16.5419 14.8321 16.5419Z" fill="white" />
                          <path d="M16.2901 13.7482H6.47168C5.51637 13.7482 4.70043 13.0978 4.4873 12.1666L2.44949 3.26753C2.42262 3.15003 2.34137 3.0494 2.23199 2.99878L0.541679 2.21534C0.150429 2.03409 -0.0198839 1.56972 0.161366 1.17815C0.342616 0.786903 0.807304 0.616591 1.19855 0.797841L2.88887 1.58128C3.43355 1.83347 3.83887 2.33347 3.97262 2.91878L6.01043 11.8185C6.0598 12.0347 6.24949 12.186 6.47168 12.186H16.2901C16.5114 12.186 16.7007 12.0357 16.7514 11.82L18.3357 5.00347C18.3811 4.80972 18.2986 4.66878 18.2457 4.60222C18.1926 4.53534 18.0739 4.42347 17.8751 4.42347H6.31262C5.88105 4.42347 5.53137 4.07378 5.53137 3.64222C5.53137 3.21065 5.88105 2.86097 6.31262 2.86097H17.8751C18.4998 2.86097 19.0804 3.14128 19.4692 3.63034C19.8579 4.1194 19.9992 4.74878 19.8579 5.35722L18.2732 12.1741C18.0573 13.1007 17.242 13.7482 16.2901 13.7482Z" fill="white" />
                        </g>
                        <defs>
                          <clipPath id="clip0_1_227">
                            <rect width="20" height="20" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                    </span>
                  </button>
                  <!-- Notification Bubble -->
                  <span class="absolute -top-1 -right-2 flex items-center justify-center w-5 h-5 rounded-full bg-white text-black text-[9px] font-bold"> 9+ </span>
                </div>
              </div>
            </div>
            <!-- Mobile menu button -->
            <div class="md:hidden">
              <!-- Mobile Hamburger -->
              <button id="mobile-menu-button" class="md:hidden text-white focus:outline-none focus:ring-2 focus:ring-gray-600 rounded-lg p-2">
                <svg id="hamburger-icon" class="w-6 h-6 block" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                <svg id="close-icon" class="w-6 h-6 hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <!-- Mobile Menu -->
        <div id="mobile-menu" class="md:hidden absolute top-[72px] left-0 w-full bg-white text-black  rounded-b-[20px] shadow-lg opacity-0 invisible translate-y-[-10px] transition-all duration-300 ease-out">
          <div class="flex flex-col px-6 py-4 space-y-4 text-[20px]">
            {%- for link in section.settings.menu.links -%}
              {%- if link.links != blank -%}
            <!-- Shop with submenu -->
            <div class="m-0">
              <button id="shop-toggle" class="flex justify-between items-center w-full hover:text-gray-500 transition focus:outline-none">
                    <span>{{ link.title }}</span>
                <svg id="shop-chevron" class="w-4 h-4 transition-transform" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 9l6 6 6-6" />
                </svg>
              </button>
              <div id="shop-submenu" class="pl-0 flex flex-col gap-4 space-y-0 overflow-hidden max-h-0 transition-all duration-300 ease-in-out">
                    {%- for child_link in link.links -%}
                      <a href="{{ child_link.url }}" class="flex items-center gap-3 px-0 py-0 text-gray-700 hover:bg-gray-100 m-0 mt-3">
                        {%- capture icon_snippet_name -%}icon-{{ child_link.title | handleize }}{%- endcapture -%}
                        {% include icon_snippet_name %}
                        {{ child_link.title }}
                      </a>
                    {%- endfor -%}
              </div>
            </div>
              {%- else -%}
                <a href="{{ link.url }}" class="hover:text-gray-500 transition">{{ link.title }}</a>
              {%- endif -%}
            {%- endfor -%}
            <!-- Other links -->
            
            <a href="#" class="hover:text-gray-500 transition">Profile</a>
            <a href="#" class="hover:text-gray-500 transition">Cart (9+)</a>
          </div>
        </div>
        <!-- End Mobile Menu -->
      </nav>
    </header> 

{% schema %}
{
  "name": "Custom Header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ],
  "presets": [
    {
      "name": "Custom Header"
    }
  ]
}
{% endschema %} 