<div class="overflow-hidden rounded-[30px] px-6 sm:px-10 md:px-16 lg:px-[82px] py-12 sm:py-16 md:py-20 lg:py-[120px] flex flex-col gap-12 sm:gap-16 lg:gap-20 items-center w-full bg-white">
    <div class="flex flex-col gap-12 sm:gap-16 lg:gap-20 items-start pb-[54px] w-full max-w-screen-xl relative border-b border-[#E9E9E9]">
      <div class="flex flex-col gap-6 sm:gap-8 items-start max-w-2xl">
        <div class="flex flex-col gap-6 w-full">
          <h1 class="text-5xl leading-[58px] text-[#0c0c0c] font-normal">
            {{ section.settings.heading }}
          </h1>
          <p class="text-[21px] leading-[25px] text-[#303030] font-normal">
            {{ section.settings.subheading }}
          </p>
        </div>
      </div>
    </div>

    <div class="max-w-screen-xl grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full">
      {%- for block in section.blocks -%}
        <a href="{{ block.settings.link }}">
          <div class="rounded-3xl p-6 sm:p-8 flex flex-col justify-between h-auto min-h-[370px]" style="background-color: {{ block.settings.background_color }};">
            <div class="flex gap-6 items-center self-stretch relative w-full">
              {%- if block.settings.icon_svg != blank -%}
                {{ block.settings.icon_svg }}
              {%- endif -%}
              <h4 class="text-2xl leading-[34px] text-[#0c0c0c]">
                <span class="text-[#0c0c0c] text-2xl font-normal">{{ block.settings.title }}</span>
              </h4>
            </div>
            <div class="flex flex-col gap-4 items-start self-stretch relative w-full">
              <h5 class="text-xl leading-7 text-black font-semibold">
                {{ block.settings.subtitle }}
              </h5>
              <p class="text-lg leading-[25px] text-[#303030] max-w-[70%]">
                <span class="text-[#303030] text-lg font-normal">{{ block.settings.description }}</span>
              </p>
              {% if block.settings.arrow_icon != blank %}
                <img src="{{ block.settings.arrow_icon | image_url: width: 30 }}" alt="-" class="absolute right-0 bottom-0" />
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0959/4722/7449/files/arrow-icon.svg?v=1757789177" alt="-" class="absolute right-0 bottom-0" />
              {% endif %}
            </div>
          </div>
        </a>
      {%- endfor -%}
    </div>
</div>

{% schema %}
{
  "name": "Resources Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Resources"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "Everything you need to make informed choices about your peptide journey."
    }
  ],
  "blocks": [
    {
      "type": "resource_card",
      "name": "Resource Card",
      "settings": [
        {
          "type": "textarea",
          "id": "icon_svg",
          "label": "Icon SVG",
          "info": "Paste the SVG code for the icon."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#f8f5ef"
        },
        {
            "type": "image_picker",
            "id": "arrow_icon",
            "label": "Arrow Icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Resources Section",
      "blocks": [
        {
          "type": "resource_card",
          "settings": {
            "icon_svg": "<svg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='50' height='50' rx='25' fill='#E5DFD5' /><path d='M33.9245 23.0664V12.9679C33.9245 11.8828 33.0422 11 31.9578 11H15.9667C14.8822 11 14 11.8828 14 12.9679V33.9529C14 35.0381 14.8822 35.9208 15.9667 35.9208H28.0377V39.0926C28.0377 39.7856 28.7877 40.2252 29.3927 39.8794L32.1132 38.3239C35.1179 40.0419 34.9609 39.9988 35.283 39.9988C35.7831 39.9988 36.1887 39.5924 36.1887 39.0926V32.9175C39.4121 29.8188 38.1353 24.4322 33.9245 23.0664ZM15.9667 34.1084C15.881 34.1084 15.8113 34.0387 15.8113 33.9529V12.9679C15.8113 12.8821 15.881 12.8124 15.9667 12.8124H31.9578C32.0435 12.8124 32.1132 12.8821 32.1132 12.9679V22.7807C28.8672 22.7807 26.2264 25.4231 26.2264 28.6711C26.2264 30.3379 26.9219 31.845 28.0377 32.9175V34.1084H15.9667ZM34.3773 37.531L32.5625 36.4933C32.284 36.3341 31.9423 36.3341 31.6638 36.4933L29.849 37.531V34.1081C31.2931 34.7125 32.9312 34.7133 34.3773 34.1081L34.3773 37.531ZM32.1132 32.7491C29.866 32.7491 28.0377 30.9197 28.0377 28.6711C28.0377 26.4225 29.866 24.5932 32.1132 24.5932C34.3604 24.5932 36.1887 26.4225 36.1887 28.6711C36.1887 30.9197 34.3604 32.7491 32.1132 32.7491Z' fill='black' /><path d='M31.6595 30.9934C31.3057 30.9934 31.2607 30.9096 29.7995 29.9349C29.3833 29.6573 29.2708 29.0946 29.5483 28.6782C29.8258 28.2617 30.3881 28.1493 30.8042 28.4268L31.4092 28.8304L32.7182 26.8658C32.9956 26.4493 33.558 26.3368 33.9741 26.6144C34.3903 26.8921 34.5028 27.4547 34.2253 27.8711L32.414 30.5897C32.2394 30.8517 31.9521 30.9934 31.6595 30.9934Z' fill='black' /><path d='M27.1321 17.3435H19.434C18.9338 17.3435 18.5283 16.9377 18.5283 16.4373C18.5283 15.9368 18.9338 15.5311 19.434 15.5311H27.1321C27.6323 15.5311 28.0377 15.9368 28.0377 16.4373C28.0377 16.9377 27.6322 17.3435 27.1321 17.3435Z' fill='black' /><path d='M27.1321 20.9683H19.434C18.9338 20.9683 18.5283 20.5626 18.5283 20.0621C18.5283 19.5617 18.9338 19.1559 19.434 19.1559H27.1321C27.6323 19.1559 28.0377 19.5617 28.0377 20.0621C28.0377 20.5626 27.6322 20.9683 27.1321 20.9683Z' fill='black' /><path d='M23.9623 24.5932H19.434C18.9338 24.5932 18.5283 24.1874 18.5283 23.687C18.5283 23.1865 18.9338 22.7807 19.434 22.7807H23.9623C24.4624 22.7807 24.8679 23.1865 24.8679 23.687C24.8679 24.1874 24.4624 24.5932 23.9623 24.5932Z' fill='black' /></svg>",
            "title": "COA's",
            "subtitle": "Quality You Can Trust",
            "description": "Independent lab reports verifying purity, safety, and consistency."
          }
        },
        {
          "type": "resource_card",
          "settings": {
            "icon_svg": "<div class='overflow-hidden rounded-[50px] relative w-[50px] h-[50px] bg-[#e1dacb]'><svg width='51' height='50' viewBox='0 0 51 50' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='0.333252' width='50' height='50' rx='25' fill='#E1DACB' /><g clip-path='url(#clip0_1_358)'><path d='M31.9999 37H18.6666C17.2421 37 15.9028 36.4452 14.8954 35.4378C13.888 34.4306 13.3333 33.0912 13.3333 31.6666V30.3332C13.3333 29.5968 13.9302 28.9999 14.6666 28.9999C15.403 28.9999 15.9999 29.5968 15.9999 30.3332V31.6666C15.9999 32.3789 16.2773 33.0486 16.7809 33.5522C17.2846 34.0559 17.9543 34.3333 18.6666 34.3333H31.9999C32.7121 34.3333 33.3818 34.0559 33.8854 33.5522C34.3891 33.0485 34.6666 32.3788 34.6666 31.6666V30.3332C34.6666 29.5968 35.2635 28.9999 35.9999 28.9999C36.7362 28.9999 37.3333 29.5968 37.3333 30.3332V31.6666C37.3333 33.0911 36.7785 34.4304 35.7711 35.4378C34.7637 36.4452 33.4244 37 31.9999 37ZM25.3332 31.6666C25.1488 31.6666 24.9732 31.6291 24.8134 31.5615C24.6644 31.4985 24.5243 31.407 24.4018 31.2874C24.4017 31.2873 24.4017 31.2873 24.4017 31.2873C24.4008 31.2864 24.3999 31.2855 24.399 31.2847C24.3988 31.2845 24.3985 31.2842 24.3983 31.2839C24.3976 31.2833 24.3969 31.2826 24.3962 31.2819C24.3957 31.2814 24.3953 31.281 24.3949 31.2805C24.3944 31.2801 24.3938 31.2794 24.3934 31.2791C24.3924 31.2781 24.3914 31.2771 24.3905 31.2762L19.0571 25.9428C18.5364 25.4221 18.5364 24.5779 19.0571 24.0571C19.5778 23.5365 20.4221 23.5364 20.9428 24.0571L23.9999 27.1143V14.3333C23.9999 13.5969 24.5968 13 25.3332 13C26.0696 13 26.6666 13.5969 26.6666 14.3333V27.1143L29.7237 24.0571C30.2444 23.5365 31.0888 23.5365 31.6094 24.0571C32.1301 24.5778 32.1301 25.4221 31.6094 25.9428L26.276 31.2761C26.2751 31.277 26.2741 31.278 26.2731 31.279C26.2726 31.2794 26.2721 31.2801 26.2716 31.2804C26.2712 31.2809 26.2708 31.2813 26.2703 31.2818C26.2696 31.2825 26.2689 31.2832 26.2682 31.2838C26.268 31.2841 26.2677 31.2844 26.2675 31.2846C26.2666 31.2855 26.2657 31.2863 26.2648 31.2872C26.2648 31.2872 26.2648 31.2872 26.2648 31.2873C26.2501 31.3016 26.2352 31.3154 26.22 31.329C26.1084 31.4285 25.984 31.5062 25.8526 31.5616C25.8521 31.5618 25.8517 31.562 25.8513 31.5622C25.8507 31.5624 25.8503 31.5626 25.8498 31.5628C25.6909 31.6297 25.5164 31.6666 25.3332 31.6666Z' fill='black' /></g><defs><clipPath id='clip0_1_358'><rect width='24' height='24' fill='white' transform='translate(13.3333 13)' /></clipPath></defs></svg></div>",
            "title": "Downloads",
            "subtitle": "Knowledge at Your Fingertips",
            "description": "Access brochures, product sheets, and educational materials anytime.",
            "background_color": "#efeade"
          }
        },
        {
          "type": "resource_card",
          "settings": {
            "icon_svg": "<svg width='51' height='50' viewBox='0 0 51 50' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='0.666504' width='50' height='50' rx='25' fill='#C5BCAA' /><path fill-rule='evenodd' clip-rule='evenodd' d='M26.6665 34.25C27.0805 34.25 27.4165 34.586 27.4165 35C27.4165 35.414 27.0805 35.75 26.6665 35.75H18.6665C17.9375 35.75 17.2375 35.46 16.7215 34.945C16.2065 34.429 15.9165 33.729 15.9165 33V17C15.9165 16.271 16.2065 15.571 16.7215 15.055C17.2375 14.54 17.9375 14.25 18.6665 14.25H27.2525C27.7165 14.25 28.1615 14.434 28.4895 14.763L32.9035 19.177C33.2325 19.505 33.4165 19.95 33.4165 20.414V24C33.4165 24.414 33.0805 24.75 32.6665 24.75C32.2525 24.75 31.9165 24.414 31.9165 24V20.414C31.9165 20.348 31.8905 20.284 31.8435 20.237L27.4295 15.823C27.3825 15.776 27.3185 15.75 27.2525 15.75H18.6665C18.3345 15.75 18.0175 15.882 17.7825 16.116C17.5485 16.351 17.4165 16.668 17.4165 17V33C17.4165 33.332 17.5485 33.649 17.7825 33.884C18.0175 34.118 18.3345 34.25 18.6665 34.25H26.6665Z' fill='black' /><path fill-rule='evenodd' clip-rule='evenodd' d='M26.9165 15.5C26.9165 15.086 27.2525 14.75 27.6665 14.75C28.0805 14.75 28.4165 15.086 28.4165 15.5V19C28.4165 19.138 28.5285 19.25 28.6665 19.25H32.1665C32.5805 19.25 32.9165 19.586 32.9165 20C32.9165 20.414 32.5805 20.75 32.1665 20.75H28.6665C27.6995 20.75 26.9165 19.967 26.9165 19V15.5Z' fill='black' /><path fill-rule='evenodd' clip-rule='evenodd' d='M20.6665 24.25C20.2525 24.25 19.9165 23.914 19.9165 23.5C19.9165 23.086 20.2525 22.75 20.6665 22.75H28.6665C29.0805 22.75 29.4165 23.086 29.4165 23.5C29.4165 23.914 29.0805 24.25 28.6665 24.25H20.6665Z' fill='black' /><path fill-rule='evenodd' clip-rule='evenodd' d='M20.6665 27.75C20.2525 27.75 19.9165 27.414 19.9165 27C19.9165 26.586 20.2525 26.25 20.6665 26.25H25.1665C25.5805 26.25 25.9165 26.586 25.9165 27C25.9165 27.414 25.5805 27.75 25.1665 27.75H20.6665Z' fill='black' /><path fill-rule='evenodd' clip-rule='evenodd' d='M20.6665 31.25C20.2525 31.25 19.9165 30.914 19.9165 30.5C19.9165 30.086 20.2525 29.75 20.6665 29.75H25.1665C25.5805 29.75 25.9165 30.086 25.9165 30.5C25.9165 30.914 25.5805 31.25 25.1665 31.25H20.6665Z' fill='black' /><path d='M32.5273 32.125C33.3558 32.125 34.0273 31.4534 34.0273 30.625C34.0273 29.7966 33.3558 29.125 32.5273 29.125C31.6989 29.125 31.0273 29.7966 31.0273 30.625C31.0273 31.4534 31.6989 32.125 32.5273 32.125Z' fill='black' /><path fill-rule='evenodd' clip-rule='evenodd' d='M34.0624 26.044C34.0624 26.044 34.4174 26.899 34.4164 26.899C34.5514 26.967 34.6824 27.043 34.8094 27.125L35.7274 27.005C35.9754 26.973 36.2244 27.067 36.3894 27.256C36.8254 27.756 37.1604 28.337 37.3764 28.965C37.4574 29.202 37.4144 29.465 37.2614 29.664C37.2614 29.664 36.6994 30.399 36.6994 30.398C36.7074 30.549 36.7074 30.701 36.6994 30.851L37.2614 31.586C37.4144 31.785 37.4574 32.048 37.3764 32.285C37.1604 32.913 36.8254 33.494 36.3894 33.994C36.2244 34.183 35.9754 34.277 35.7274 34.245C35.7274 34.245 34.8094 34.125 34.8104 34.124C34.6834 34.207 34.5514 34.283 34.4174 34.351L34.0624 35.206C33.9664 35.438 33.7604 35.606 33.5144 35.654C32.8624 35.782 32.1924 35.782 31.5404 35.654C31.2944 35.606 31.0884 35.438 30.9924 35.206C30.9924 35.206 30.6374 34.351 30.6384 34.351C30.5034 34.283 30.3714 34.207 30.2454 34.125L29.3274 34.245C29.0784 34.277 28.8304 34.183 28.6654 33.994C28.2284 33.494 27.8934 32.913 27.6784 32.285C27.5974 32.048 27.6404 31.785 27.7924 31.586C27.7924 31.586 28.3554 30.851 28.3554 30.852C28.3474 30.701 28.3474 30.549 28.3554 30.399L27.7924 29.664C27.6404 29.465 27.5974 29.202 27.6784 28.965C27.8934 28.337 28.2284 27.756 28.6654 27.256C28.8304 27.067 29.0784 26.973 29.3274 27.005C29.3274 27.005 30.2454 27.125 30.2444 27.126C30.3714 27.043 30.5024 26.967 30.6374 26.899L30.9924 26.044C31.0884 25.812 31.2944 25.644 31.5404 25.596C32.1924 25.468 32.8624 25.468 33.5144 25.596C33.7604 25.644 33.9664 25.812 34.0624 26.044ZM32.8404 27.014C32.6324 26.996 32.4224 26.995 32.2144 27.014L31.9104 27.745C31.8344 27.928 31.6884 28.074 31.5044 28.15C31.2864 28.24 31.0824 28.358 30.8954 28.502C30.7384 28.623 30.5384 28.676 30.3414 28.651L29.5564 28.548C29.4364 28.72 29.3314 28.901 29.2434 29.091L29.7244 29.719C29.8454 29.877 29.8984 30.077 29.8724 30.274C29.8414 30.507 29.8414 30.743 29.8724 30.976C29.8984 31.173 29.8454 31.373 29.7244 31.531C29.7244 31.531 29.2434 32.159 29.2434 32.16C29.3314 32.349 29.4364 32.531 29.5564 32.702L30.3414 32.599C30.5384 32.574 30.7384 32.627 30.8954 32.748C31.0824 32.892 31.2864 33.01 31.5044 33.1C31.6884 33.176 31.8344 33.322 31.9104 33.505L32.2144 34.236C32.4224 34.255 32.6324 34.255 32.8404 34.236L33.1444 33.505C33.2204 33.322 33.3664 33.176 33.5504 33.1C33.7674 33.01 33.9724 32.892 34.1594 32.748C34.3164 32.627 34.5164 32.574 34.7134 32.599L35.4984 32.702C35.6184 32.53 35.7234 32.349 35.8114 32.159L35.3304 31.531C35.2094 31.373 35.1564 31.173 35.1824 30.976C35.2124 30.743 35.2124 30.507 35.1824 30.274C35.1564 30.077 35.2094 29.877 35.3304 29.719C35.3304 29.719 35.8114 29.091 35.8114 29.09C35.7224 28.901 35.6184 28.719 35.4984 28.548L34.7134 28.651C34.5164 28.676 34.3164 28.623 34.1594 28.502C33.9724 28.358 33.7674 28.24 33.5504 28.15C33.3664 28.074 33.2204 27.928 33.1444 27.745L32.8404 27.014Z' fill='black' /></svg>",
            "title": "Clinical Studies",
            "subtitle": "Clarity on Every Dose",
            "description": "See the science behind our products — explore our clinical studies.",
            "background_color": "#d6cfc0"
          }
        }
      ]
    }
  ]
}
{% endschema %}