{%- style -%}
  .section-{{ section.id }} .inner-banner-container {
    {%- if section.settings.mobile_image != blank -%}
      background-image: url('{{ section.settings.mobile_image | image_url }}');
    {%- else -%}
      background-image: url('{{ "inner-banner-mobile.webp" | asset_url }}');
    {%- endif -%}
  }

  @media (min-width: 768px) {
    .section-{{ section.id }} .inner-banner-container {
      {%- if section.settings.desktop_image != blank -%}
        background-image: url('{{ section.settings.desktop_image | image_url }}');
      {%- else -%}
        background-image: url('{{ "inner-banner.webp" | asset_url }}');
      {%- endif -%}
    }
  }
{%- endstyle -%}
<section class="section-{{ section.id }} px-4  sm:px-0">
    <div class="inner-banner-container container relative w-full max-w-[1400px] flex items-center rounded-3xl p-8 md:p-12 lg:p-16 min-h-[630px] sm:min-h-[300px] bg-cover bg-no-repeat bg-[unset] sm:bg-center">
    
            <div class="flex justify-end sm:justify-center max-w-[100%] sm:max-w-[530px] flex-col gap-4 sm:gap-6 items-center lg:items-start self-stretch relative w-full bg-transparent">
              <!-- Heading -->
              <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-[48px] leading-tight lg:leading-[50px] text-[#0c0c0c] text-left">
                <span class="text-[#0c0c0c] font-normal"> {{ section.settings.heading | escape }} </span>
              </h1>
              <!-- Paragraph -->
              <p class="text-base sm:text-lg leading-relaxed text-[#303030] max-w-xl mx-auto lg:mx-0 text-left ">
                <span class="text-[#303030] font-normal"> {{ section.settings.subheading | escape }} </span>
              </p>
            </div>  
    </div>
  </section>

{% schema %}
{
  "name": "Innerpage Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Build Your Personalized Peptide Blend"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "Tailored formulations designed to match your unique health goals, lifestyle, and wellness journey."
    }
  ],
  "presets": [
    {
      "name": "Innerpage Banner"
    }
  ]
}
{% endschema %}